h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: #FFBB74 underline;
    letter-spacing: 10px;
}

p {
    text-align: center;
    line-height: 2;
}

a {
    text-decoration: none;
}
